h1{
    background: #4aaaa5;
    
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

h2{
    background: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    border: white;
    border-bottom: #dddddd;
    border-style: solid;
}

img{
    float: left;
    padding-right: 20px;
}

.main{
    
    position: relative;
    width: 960px;
    left: 25%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;   
    background: white;
}